$font-size: 16px;

$board-background: #021118;
$ship-background: #EE0410;
$cell-background: lighten($board-background, 15%);
$cell-background-attacked: darken($cell-background, 15%);
$cell-background-hit: #E81010;

$border-radius: 1em;
