$font-size: 16px;

$board-background: #445;
$ship-background: #E02330;
$cell-background: lighten($board-background, 25%);
$cell-background-attacked: darken($cell-background, 15%);
$cell-background-hit: #E81010;

$border-radius: 10px;
