@import 'variables';
@import '~bootstrap/scss/bootstrap';

.board {
    border-radius: $border-radius;
    background-color: $board-background;
    .cell {
        background-color: $cell-background;
        border: dashed 2px $board-background;
        &:hover {
            background-color: lighten($cell-background, 6%);
        }
        &.attacked {
            background-color: $cell-background-attacked;
        }
        &.hit {
            background-color: $cell-background-hit;
        }
    }
}
